{% extends "embeds/extends/base.twig" %}
{% block title %}{{title}}{% endblock %}
{% block style %} 
<style>
    .text-uppercase{
        text-transform: uppercase;
    }
    #creartipoAntiguedad{
        text-align: right;
    }

    
    .rowsTable{
        display: inline;
        text-align: center;
    }
    
    .iconos {
        display: flex;
        float: right; 
        align-items: center;
        margin-right: 10px;   
    }
    
    .iconos > img:hover {
        cursor: pointer;
        transition: background-color 0.5s ease;
    }
    
    .btn-agregar {
        display: inline-flex;
        width: 100px;
        height: 35px;
        padding: 0.6em 0.88em;
        background: linear-gradient(to right, green 50%, #fff 50%);
        background-size: 200% 105.5%;
        background-position: right bottom;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: bold;
        color: #020202;
        border: none;
        border-left: 6px solid green;
        border-color: none;
        box-shadow: 3px 3px 2px rgb(0 0 0 / 8%);
        transition: all .4s ease-out;
        border-radius: 6px;
        justify-content: center;
    }

    .btn-agregar:hover {
      background-position: left bottom;
      color: white;
    }

</style>
{% endblock %} 

{% block script %}

    <script>
        FADU = new function () {
            const vista = this;
            vista.FUNCION = {};

            vista.DOM = {
                crearTipoAntiguedad: document.querySelector("#crearTipoAntiguedad"),
            }

            /* LISTENERS */
            {% if tienePermiso('PERSONAL_TIPOANTIGUEDAD.GUARDAR') %}
            vista.DOM.crearTipoAntiguedad.addEventListener('click', () => {
                vista.FUNCION.crearTipoAntiguedad();
            });
            {% endif %}
            /* END LISTENERS */


            document.addEventListener("DOMContentLoaded", function(e) {
                tablaTipoAntiguedad = $('#tablaTipoAntiguedad').DataTable({
                    buttons: ['PDF_TIPOANTIGUEDAD', 'EXCEL_TIPOANTIGUEDAD'],
                    ajax: {
                        url: "{{baseUrl}}/tipoAntiguedad/listar",
                        type: "GET",
                        dataSrc: json => json.data.map(item => {
                            let accionDetalle = ``;
                            let accionEliminarTipoAntiguedad = ``;
                            let accionEditarTipoAntiguedad = ``;
                            
                            {% if tienePermiso('PERSONAL_TIPOANTIGUEDAD.ELIMINAR') %}
                                accionEliminartipoAntiguedad = `onclick='FADU.FUNCION.eliminarTipoAntiguedad(${item.id_tipo_ant})'`;
                            {% endif %}

                            {% if tienePermiso('PERSONAL_TIPOANTIGUEDAD.DETALLE') %}
                                accionDetalle = `title="Ver Detalle" style="cursor: pointer" onclick='FADU.FUNCION.detalleTipoAntiguedad(${item.id_tipo_ant})'`;
                            {% endif %}
    
                            return [
                                `<div ${accionDetalle} class="rowsTable${item.id_tipo_ant}">
                                ${item.desc_tipo_ant}
                                </div>`
                            ];
                        }),
                    }              
                })
                initTableButtons();
            });
         

            {% if tienePermiso('PERSONAL_TIPOANTIGUEDAD.GUARDAR') %}
                vista.FUNCION.crearTipoAntiguedad = () => {
                   var url = `{{baseUrl}}/tipoAntiguedad/crear`;
                    $.ajax({
                        url: url,
                        type: "POST",
                        cache: true,
                        success: async response => {
                            await abrirModal(response);
                        },
                        error: function (json) {
                            swal({
                                icon: 'error',
                                text: json.responseJSON.error
                            })
                        }
                    })
                };
            {% endif %}

            {% if tienePermiso('PERSONAL_TIPOANTIGUEDAD.DETALLE') %}
                vista.FUNCION.detalleTipoAntiguedad = (idTipoAntiguedad) => {
                   var url = "{{baseUrl}}/tipoAntiguedad/detalle";
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {idTipoAntiguedad: idTipoAntiguedad},
                        cache: true,
                        success: async response => {
                            await abrirModal(response);
                        },
                        error: function (json) {
                            swal({
                                icon: 'error',
                                text: json.responseJSON.error
                            })
                        }
                    })
                };
            {% endif %}
    }
    </script>   
{% endblock %}   

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-5">
        {% if tienePermiso('PERSONAL_TIPOANTIGUEDAD.GUARDAR') %}
            <button id="crearTipoAntiguedad" class="btn-nuevo">NUEVO</button>
        {% endif %}
            <table id="tablaTipoAntiguedad" class="table table-app">
                <thead class="thead-app">
                    <tr>
                        <th>DESCRIPCIÓN TIPO DE ANTIGUEDAD</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div> 
{% endblock %}   



